<div class="setting-module-wrapper margin-patch-for-user">
  <%= form_for(@fellower, :url => fellowers_user_path(current_user)) do |f| %>
      <%= f.hidden_field :parent_id, :value => current_user.id %>
      <div class="left-side-form span3">
        <label for="last_name"></label><span><p class="label">First Name</p></span>
        <div class="clear_form_label_area"></div>
        <div class="clear-fellow-edit"></div>
        <label for="first_name"></label><span><p class="label">Last Name</p></span>
        <div class="clear_form_label_area"></div>
        <div class="clear-fellow-edit"></div>
        <label for="email"></label><span><p class="label">Email</p></span>
        <div class="clear_form_label_area"></div>
        <div class="clear-fellow-edit"></div>
        <label for="password"></label><span><p class="label">Password</p></span>
        <div class="clear_form_label_area"></div>
        <div class="clear-fellow-edit "></div>
        <label for="password_confirmation"></label><span><p class="label">Confirm Password</p></span>
      </div>
      <div class="right-side-form span4">
        <div class="clear_form_area"></div>
        <%= f.text_field :first_name, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.text_field :last_name, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.text_field :email, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.password_field :password, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.password_field :password_confirmation, :class => 'xheight xlarge mini' %>
        <div class="clear-company-field"></div>
      </div>
      <div class="span5 role-box" style="margin-top: -20px">
        <h2 style="color: #595959;">User Roles</h2>

        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :account_master %></div>
          <p>&nbsp; Account Master</p>
        </div>
        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :qualified_supervisor %></div>
          <p>&nbsp; Qualified Supervisor</p>
        </div>
        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :electrician %></div>
          <p>&nbsp; Electrician</p>
        </div>
        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :administrator %></div>
          <p>&nbsp; Administration</p>
        </div>
      </div>
      <div class="clear"></div>
      <%= f.submit 'Add User', :disable_with => 'Adding...', :class => 'btn' %>
  <% end %>
</div>
