<div class="setting-module-wrapper margin-patch-for-user">
  <%= form_for(@fellower, :url => fellowers_user_path(current_user)) do |f| %>
      <%= f.hidden_field :parent_id, :value => current_user.id %>
      <div class="left-side-form span3">
        <label for="last_name"></label><span><p class="label">First Name</p></span>

        <div class="clear2"></div>
        <label for="first_name"></label><span><p class="label">Last Name</p></span>

        <div class="clear2"></div>
        <label for="email"></label><span><p class="label">Email</p></span>

        <div class="clear2"></div>
        <label for="permission"></label><span><p class="label">Permission</p></span>

        <div class="clear2"></div>
        <label for="password"></label><span><p class="label">Password</p></span>

        <div class="clear2"></div>
        <label for="password_confirmation"></label><span><p class="label">Confirm Password</p></span>
      </div>
      <div class="right-side-form span4">
        <%= f.text_field :first_name, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.text_field :last_name, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.text_field :email, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.select :permission, [['Electrician', 'electrician'], ['Account Master', 'account_master'], ['Qualified Supervisor', 'qualified_supervisor']], :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.password_field :password, :class => 'xheight xlarge mini' %>
        <div class="clear3"></div>
        <%= f.password_field :password_confirmation, :class => 'xheight xlarge mini' %>
        <div class="clear-company-field"></div>
      </div>
      <div class="span5 role-box" style="margin-top: -20px">
        <h2 style="color: #595959;">Access and Permission</h2>

        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :create_certificates_and_reports %></div>
          <p>&nbsp; CREATE CERTIFICATES & REPORTS</p>
        </div>
        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :signoff_certificates_and_reports %></div>
          <p>&nbsp; SIGN OFF CERTIFICATES & REPORTS</p>
        </div>
        <div class="clear2"></div>
        <div class="access-permission">
          <div class="accessability span"><%= f.check_box :access_account_settings %></div>
          <p>&nbsp; ACCESS ACCOUNT SETTINGS</p>
        </div>
      </div>
      <div class="clear"></div>
      <%= f.submit 'Add User', :disable_with => 'Adding...', :class => 'btn' %>
  <% end %>
</div>
