<%= form_for(@user) do |f| %>
    <div class="span8">
      <div class="clear1"></div>
      <div class="span4 spaceright">
        <%= f.label :first_name, 'First Name', :class => 'signup-label' %>
        <%= f.text_field :first_name %>
      </div>
      <div class="span1">
        <%= f.label :last_name, 'Last Name', :class => 'signup-label' %>
        <%= f.text_field :last_name %>
      </div>
      <div class="clear1"></div>
      <div class="span4">
        <%= f.label :email,'Email Address' ,:class => 'signup-label' %>
        <div class="clear1"></div>
        <%= f.text_field :email, :class => 'signup-special-label' %>
      </div>
      <div class="clear1"></div>
      <div class="span4">
        <%= f.label :company,'Company Name' ,:class => 'signup-label' %>
        <div class="clear1"></div>
        <%= f.text_field :company, :class => 'signup-special-label' %>
      </div>
      <div class="clear1"></div>
      <div class="span6">
        <%= f.label :address, 'Create Your Account Address' ,:class => 'signup-label' %>
        <div class="clear"></div>
        <span class="extra-label-left">https://</span>
        <span class="span5"><%= f.text_field :address, :class => 'signup-special-label special'  %></span>
        <span class="extra-label-right">.flycert.co.uk</span>
      </div>
      <div class="clear1"></div>
      <div class="span4">
        <%= f.label :password, 'Create Your Password', :class => 'signup-label' %>
        <%= f.password_field :password %>
      </div>
      <div class="span1">
        <%= f.label :password_confirmation, 'Confirm Your Password', :class => 'signup-label' %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="clear2"></div>
      <div class="addContactButton">
        <%= f.submit 'Start My Free Trial', :class => 'btn primary' %><br />
        <div class="clear1"></div>
        <span class="terms">By clicking the above button you agree to our <a href="http://flycert.co.uk/terms" class="signupcondition">Terms of Service</a> &nbsp; and <a href="http://flycert.co.uk/privacy-policy/" class="signupcondition">Privacy Policy.</a></span>
      </div>

<% end %>
</div>
<div class="clear5"></div>