<div class="left-info" style="width: 350px; float: left">
  <div class="span2" style="text-align: right;">
    <div class="label-space"><span class="label">Name</span></div>
    <div class="label-space"><span class="label">Company</span></div>
    <div class="label-space"><span class="label">Telephone</span></div>
    <div class="label-space"><span class="label">Mobile</span></div>
    <div class="label-space"><span class="label">Email</span></div>
  </div>
  <div class="span3">
    <div class="label-space"><%= name(contact) %></div>
    <div class="label-space"><%= contact.company %></div>
    <div class="label-space"><%= contact.telephone %></div>
    <div class="label-space"><%= contact.mobile %></div>
    <div class="label-space"><%= contact.email %></div>
  </div>
</div>
<div class="right-info" style="width: 350px; float: left">
  <div class="span2" style="text-align: right;">
    <div class="label-space"><span class="label">Address1</span></div>
    <div class="label-space"><span class="label">Address2</span></div>
    <div class="label-space"><span class="label">Address3</span></div>
    <div class="label-space"><span class="label">City</span></div>
    <div class="label-space"><span class="label">Country</span></div>
    <div class="label-space"><span class="label">Post Code</span></div>
  </div>
  <div class="span3">
    <div class="label-space"><%= contact.addressline1 %></div>
    <div class="label-space"><%= contact.addressline2 %></div>
    <div class="label-space"><%= contact.addressline3 %></div>
    <div class="label-space"> <%= contact.city  %></div>
    <div class="label-space"><%= contact.country %></div>
    <div class="label-space"><%= contact.postcode %></div>
  </div>
</div>


