<% @contacts.each do |contact| %>
    <div class="contactBar">
      <div id="contactTitle" onclick="expandContact(<%= contact.id %>); return false;">
        <span class="label">Name:</span>&nbsp;<%= contact.firstname %>&nbsp;<%= contact.secondname %>
      </div>
    </div>
    <div class="clear1"></div>
    <div id="contact_no_<%= contact.id %>" style="display: none">
      <div class="span3" style="text-align: right;">
        <span class="label">Name</span> <br/>
        <span class="label">Company</span> <br/>
        <span class="label">Telephone</span> <br/>
        <span class="label">Mobile</span> <br/>
        <span class="label">Email</span> <br/>
        <span class="label">Address1</span> <br/>
        <span class="label">Address2</span> <br/>
        <span class="label">Address3</span> <br/>
        <span class="label">City</span> <br/>
        <span class="label">Country</span> <br/>
        <span class="label">Post Code</span> <br/>
      </div>
      <div class="span6">
        <%= contact.firstname %>&nbsp;<%= contact.secondname %>
        <br/>
        <%= contact.company %>
        <br/>
        <%= contact.telephone %>
        <br/>
        <%= contact.mobile %>
        <br/>
        <%= contact.email %>
        <br/>
        <%= contact.addressline1 %>
        <br/>
        <%= contact.addressline2 %>
        <br/>
        <%= contact.addressline3 %>
        <br/>
        <%= contact.city %>
        <br/>
        <%= contact.country %>
        <br/>
        <%= contact.postcode %>
        <br/>
      </div>
      <div class="clear2"></div>
    </div>
<% end %>
<%= content_for :js do %>
    <script type="text/javascript">
        function expandContact(object)
        {
            $('#contact_no_'+object).toggle(1000);
        }
    </script>

<% end %>
<hr/>

