<div class="row">
  <%= form_for(contact, :remote => true) do |f| %>
      <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      </div>
         <div class="clear2"></div>
        <center>
          <div id="light" class="white_content"><%= image_tag 'ajax-loader.gif' %></div>
        </center>
       <div class="clear2"></div>
      <div class=" modify-title">
        <center><h3><%= message %></h3></center>
      </div>
      <div class="clear2"></div>
      <div class="left-form" style="width: 450px; float: left;">
        <div class="span3">
          <div class="clear2"></div>
          <%= f.label :firstname, 'First Name', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :secondname, 'Second Name', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :company, 'Company', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :telephone, 'Telephone', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :mobile, 'Mobile', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :email, 'Email', :class => 'label label-space' %>
        </div>
        <div class="span4">
          <div class="clear2"></div>
          <%= f.text_field :firstname, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :secondname, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :company, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :telephone, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :mobile, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :email, :class => 'search-field' %>
        </div>
      </div>
      <div class="right-form" style="width: 450px; float: left;">
        <div class="span3">
          <div class="clear2"></div>
          <%= f.label :addressline1, 'Address Line 1', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :addressline2, 'Address Line 2', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :addressline3, 'Address Line 3', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :city, 'City', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :country, 'Country', :class => 'label label-space' %>
          <div class="clear"></div>
          <%= f.label :postcode, 'Post Code', :class => 'label label-space' %>
        </div>

        <div class="span4">
          <div class="clear2"></div>
          <%= f.text_field :addressline1, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :addressline2, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :addressline3, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :city, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :country, :class => 'search-field' %>
          <div class="clear2"></div>
          <%= f.text_field :postcode, :class => 'search-field' %>
        </div>
      </div>
      <div class="clear2"></div>
      <div class="addContactButton" style="text-align: center"><%= f.submit 'Update Contact', :method => 'update', :class => 'btn' %></div>
      <div class="clear2"></div>
  <% end %>
