<html>
<head>
  <title>Contact</title>
  <title>Web</title>
  <%= stylesheet_link_tag 'bootstrap', 'clear', 'contact' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="topbar">
  <div class="topbar-inner">
    <div class="common-wrapper">
      <div class="row">
        <div class="span4"><%= image_tag 'logo_topbar.png' %><span class="contactTopSpan" style="margin-right: -4px;margin-left: 8px;"><%= link_to (image_tag 'contact_topbar_icon.png',:alt => 'contact' ,:class => 'contactHover'), new_contact_path, :alt=> 'icon contact' %></span><%= link_to (image_tag 'certs_topbar_icon.png', :class => 'certHover', :alt => 'icon Certificates and Reports'), settings_path %></div>
        <div class="span5 top-bar-search" style="width: 235px; margin-left:12px;">
          <input type="text" value="Search..." class="search-field search-input" style="color:  #e6e6e6"><span><%= image_tag 'search_glow_icon.png', :width=> 18, :class => 'search_icon' %></span>
        </div>
        <div class="span3 new-contact-link" style="margin-left: 10px;"><%= link_to 'Add A New Contact', "#", :id=> 'addContactLink' %></div>
        <div class="span3 right-panel">
          <span class="help">Help</span>|<span class="user"><%= current_user.username %></span></div>
      </div>
    </div>
  </div>
</div>
<div class="clear4"></div>
<div class="common-wrapper">
  <%= yield %>
</div>
</body>
</html>
<script type="text/javascript">
    $("#addContactLink").click(function() {
        $('#contactForm').toggle(10);
    });


    $("input.search-input").click(function() {
        $(this).css('color', '#000');
        var text = $(this).val();
        if (text == 'Search...')
            $(this).val('');
        else
            $(this).val(text);
    });

    $("input.search-input").blur(function() {
        var text = $(this).val();
        if (text == '') {
            $(this).css('color', '#dadada');
            $(this).val('Search...');
        }
        else {
            $(this).val(text);
        }
    });

    $('img.contactHover').mouseover(function() {
        var newSrc = $(this).attr("src").replace("contact_topbar_icon.png", "contact_topbar_icon_hover.png");
        $(this).attr("src", newSrc);
    });

    $('img.contactHover').mouseout(function() {
        var newSrc = $(this).attr("src").replace("contact_topbar_icon_hover.png", "contact_topbar_icon.png");
        $(this).attr("src", newSrc);
    });

    $('img.certHover').mouseover(function() {
        var newSrc = $(this).attr("src").replace("certs_topbar_icon.png", "certs_topbar_icon_hover.png");
        $(this).attr("src", newSrc);
    });

    $('img.certHover').mouseout(function() {
        var newSrc = $(this).attr("src").replace("certs_topbar_icon_hover.png", "certs_topbar_icon.png");
        $(this).attr("src", newSrc);
    });


</script>