<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || 'flycert' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="row top_blue_bar">
  <div class="nav-bar-wrapper">
    <div class="clear1"></div>
    <div class="row">
      <div class="span12 span-right">
        <%= link_to 'Home', '#', :class => 'signup-nav' %> |
        <%= link_to 'About', '#', :class => 'signup-nav' %> |
        <%= link_to 'Screenshots', '#', :class => 'signup-nav' %> |
        <%= link_to 'Free Tour', '#', :class => 'signup-nav' %> |
        <%= link_to 'Pricing', '#', :class => 'signup-nav' %> |
        <%= link_to 'Signup', '#', :class => 'signup-nav' %> |
        <%= link_to 'Contact', '#', :class => 'signup-nav' %> |
        <%= link_to 'News & Blogs', '#', :class => 'signup-nav' %>
      </div>
    </div>
    <div class="clear2"></div>
    <div class="clear2"></div>
  </div>
</div>
<div class="clear5"></div>
<div class="wrapper">
  <div class="row top-row">
    <div class="span 10 trial-signup-text"><p>Flycert 14-day Free Trial Signup</p></div>
  </div>
  <div class="row">
      <%= yield %>
  </div>

</div>
<footer class="modified-footer">
  <center><p>&copy; FlyCert, 2011</p></center>
</footer>
</body>
</html>
<%= yield :js %>
