<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || 'FlyCert 14day Free Trial' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body style="overflow: hidden; overflow-y: hidden;">
<div class="row" style="overflow: hidden;">
  <%= yield %>
</div>
</body>
</html>
<%= yield :js %>
