<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || 'flycert' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="row top_blue_bar">
  <div class="nav-bar-wrapper">
    <div class="clear1"></div>
    <div class="row">
      <div class="span12 span-right">
        <%= link_to 'home', '#', :class => 'signup-nav' %> |
        <%= link_to 'about', '#', :class => 'signup-nav' %> |
        <%= link_to 'screenshots', '#', :class => 'signup-nav' %> |
        <%= link_to 'free tour', '#', :class => 'signup-nav' %> |
        <%= link_to 'pricing', '#', :class => 'signup-nav' %> |
        <%= link_to 'signup', '#', :class => 'signup-nav' %> |
        <%= link_to 'contact', '#', :class => 'signup-nav' %> |
        <%= link_to 'news & blogs', '#', :class => 'signup-nav' %>
      </div>
    </div>
    <div class="clear2"></div>
    <div class="clear2"></div>
  </div>
</div>
<div class="clear5"></div>
<div class="wrapper">
  <div class="row top-row">

  </div>
  <div class="row">
      <%= yield %>
  </div>

</div>
<footer>
  <div class="row">
    <div class="span10">
        <p class="footer-text">Copyright &copy; FlyCert, 2011 | <%= link_to 'Site Map ', '' %>| <%= link_to 'Privacy Policy', '' %></p>
    </div>

  </div>
</footer>
</body>
</html>
<%= yield :js %>
